.projetos {
padding-block: 2.5rem;
}
.projetos h2 {
  text-align: center;
}

.lista {
  width: 100%;
  gap: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-block: 1rem;

}
