.sobre {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-block: 4rem;
}

.bio {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: Clamp(12rem, 14vw, 18rem);
  height: Clamp(12rem, 14vw, 18rem);
  border-radius: 50%;
  border: 2px solid var(--secondary);
}

.description {
  width: 85%;
}

.description h2,
p {
  margin-bottom: 1.5rem;
}

.description h2,
.techs h3 {
  font-size: clamp(1.5rem, 2vw, 3rem);
}

.description p {
  font-size: clamp(1rem, 1.2vw, 1.6rem);
  line-height: clamp(1.3rem, 1.5vw, 1.9rem);
}

.description span {
  color: var(--red);
  font-weight: bold;
}

.description strong {
  color: var(--secondary);
}

.techs_images {
  display: flex;
  align-items: center;
  gap: 3rem;
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 2rem);
  line-height: clamp(1.3rem, 1.8vw, 2.3rem);
  font-weight: bold;
}

.box_images {
  display: flex;
  gap: 3rem;
}

.techs {
  text-align: center;
}

.techs h3 {
  margin-bottom: 1rem;
}

.techs_images .image {
  width: clamp(3rem, 5vw, 8rem);
  height: clamp(3rem, 5vw, 8rem);
}

@media (max-width: 325px) {


  .techs {
    margin-top: -20px;
  }
}

@media (max-width: 450px) {
  .bio {
  
    flex-direction: column;
  }
  .avatar {
    margin: auto;
  }
}

@media (max-width: 1024px) {
  .bio {
    gap: 2rem;
  }
}
